{% extends "layout.html" %}
{% load static %}
{% block difbody  %}
    </header>


    <section class="courses_content">

        <div class="container">
            <div class="row">

                <nav class="sidebar col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="box--default margin-bottom">
                        <h3 class="box_title">خدمات آموزشی</h3>
                        <div class="box--content">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <div class="panel-heading active" role="tab" id="heading1">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq1" aria-expanded="true" aria-controls="faq1">
                                                دوره های آموزشی
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="faq1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                        <div class="panel-body">
                                            <ul>
                                                <li>
                                                    <a href="#">دوره های تخصصی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های عمومی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های مدیریتی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های آزاد</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq2" aria-expanded="true" aria-controls="faq2">
                                                آموزش الکترونیک
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="faq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                        <div class="panel-body">
                                            <ul>
                                                <li>
                                                    <a href="#">دوره های تخصصی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های عمومی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های مدیریتی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های آزاد</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel accordion-list">
                                    <div class="panel-heading" role="tab" id="heading3">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq3" aria-expanded="true" aria-controls="faq3">
                                                کمیته آموزش
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="faq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                        <div class="panel-body">
                                            <ul>
                                                <li>
                                                    <a href="#">دوره های تخصصی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های عمومی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های مدیریتی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های آزاد</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های تخصصی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های عمومی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های مدیریتی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های آزاد</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="heading4">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq4" aria-expanded="true" aria-controls="faq4">
                                                جزوات و منابع آموزشی
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="faq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4Three">
                                        <div class="panel-body">
                                            <ul>
                                                <ul>
                                                    <li>
                                                        <a href="#">دوره های تخصصی</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های عمومی</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های مدیریتی</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های آزاد</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های تخصصی</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های عمومی</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های مدیریتی</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">دوره های آزاد</a>
                                                    </li>
                                                </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq5" aria-expanded="true" aria-controls="faq5">
                                            همایش و سمینار
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4Three">
                                    <div class="panel-body">
                                        <ul>
                                            <ul>
                                                <li>
                                                    <a href="#">دوره های تخصصی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های عمومی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های مدیریتی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های آزاد</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های تخصصی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های عمومی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های مدیریتی</a>
                                                </li>
                                                <li>
                                                    <a href="#">دوره های آزاد</a>
                                                </li>
                                            </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- box--default -->

                <div class="box--default margin-bottom">
                <h3 class="box_title">تبلیغات</h3>
                <div class="box_content">
                    <ul class="list ads">
                        <li>
                            <a href="#">
                                <img src="{% static 'assets/images/ads.png'%}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="box--default margin-bottom">
                <h3 class="box_title">تبلیغات</h3>
                <div class="box_content">
                    <ul class="list ads">
                        <li>
                            <a href="#">
                                <img src="{% static 'assets/images/ads.png'%}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
                </nav>


                <article class="courses_list col-md-9 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href={{"../index"}}>صفحه اصلی</a></li>
                        <li class="active"><a href="#">دوره های آموزشی</a></li>
                    </ol>


                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="1.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>آموزش تخصصی شبکه</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>19 ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="4"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="1.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>آموزش تخصصی شبکه</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>19 ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="4"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="1.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>آموزش تخصصی شبکه</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>19 ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="4"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->

                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="1.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->
                    <div class="list_item col-md-3 col-sm-4 col-xs-12">
                        <div class="list_content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>آموزش تخصصی شبکه</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>19 ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="4"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- list_item -->

                    <div class="pagination-base">
                        <ul class="pagination">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">6</a>
                            </li>
                        </ul>
                    </div>

                </article>
            </div>
        </div>

    </section>

    {% endblock %}
