
{% extends "layout.html" %}
{% load static %}
{% block difbody  %}
        
        <div class="header_slider hidden-xs hidden-sm">

            <div class="parallax-slider themex-slider">
                <div class="substrate">
                    <img src="{% static 'img/site_bg.jpg'%}" class="fullwidth" alt=""/>
                </div>
                <ul>
                    <li>
                        <div class="row2">
                            <div class="text fivecol column">
                                <h1>برگزاری آزمون های آنلاین</h1>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                                <a href="">
                                    <span class="button pull-left">ادامه مطلب</span>
                                </a>
                            </div>
                            <div class="sevencol column last"><img class="alignnone img-responsive" alt="" src="{% static 'img/slide_1.png'%}"/>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="row2">
                            <div class="text fivecol column">
                                <h1>برگزاری آزمون های آنلاین</h1>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                                <a href="">
                                    <span class="button pull-left">ادامه مطلب</span>
                                </a>
                            </div>
                            <div class="sevencol column last">
                                <img src="{% static 'img/slide_2.png' class="alignnone img-responsive" alt=""/>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="row2">
                            <div class="text fivecol column">
                                <h1>برگزاری آزمون های آنلاین</h1>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                                <a href="">
                                    <span class="button pull-left">ادامه مطلب</span>
                                </a>
                            </div>
                            <div class="sevencol column last"><img src="{% static 'img/slide_3.png'%}" class="alignnone img-responsive" alt=""/>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ul>
                <div class="arrow arrow-left"></div>
                <div class="arrow arrow-right"></div>
                <input type="hidden" class="slider-pause" value="6287"/>
                <input type="hidden" class="slider-speed" value="1000"/>
                <input type="hidden" class="slider-effect" value="slide"/>
            </div>
            <!--end slider-->

            <!-- <div id="da-slider" class="da-slider">
              <!-- <img class="fullwidth" src="{% static 'assets/images/slider/site_bg.jpg'%}" alt=""> --
               <div class="da-slide">
                  <div class="info">
                     <h2>نوشته تستی</h2>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است</p>
                     <a href="#" class="da-link color-main--bg">ادامه مطلب</a>
                  </div>
                  <div class="da-img"><img src="{% static 'assets/images/slider/slide_1.png'%}" alt="" /></div>
               </div>
               <div class="da-slide">
                  <div class="info">
                     <h2>برگزاری آزمون های آنلاین</h2>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است</p>
                     <a href="#" class="da-link color-main--bg">ادامه مطلب</a>
                  </div>
                  <div class="da-img"><img src="{% static 'assets/images/slider/slide_2.png'%}" alt="" /></div>
               </div>
               <nav class="da-arrows">
                  <span class="da-arrows-prev"></span>
                  <span class="da-arrows-next"></span>
               </nav>

         </div> -->

        </div>
        <!-- header_slider -->

    </header>

    <section class="page_3box">
        <div class="container">
            <div class="page_3box__item col-md-4 col-sm-12 col-xs-12">
                <div class="page_3box__item_content">
                    <div class="page_3box__header">
                        <div class="icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3>اداره آموزش در یک نگاه</h3>
                    </div>
                    <div class="page3box__text">
                        <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                    </div>
                    <div class="page3box__footer">
                        <a href="#" class="button">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <!-- page_3box__item -->
            <div class="page_3box__item col-md-4 col-sm-12 col-xs-12">
                <div class="page_3box__item_content">
                    <div class="page_3box__header">
                        <div class="icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3>ارتباط با کارشناسان</h3>
                    </div>
                    <div class="page3box__text">
                        <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                    </div>
                    <div class="page3box__footer">
                        <a href="#" class="button">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <!-- page_3box__item -->
            <div class="page_3box__item col-md-4 col-sm-12 col-xs-12">
                <div class="page_3box__item_content">
                    <div class="page_3box__header">
                        <div class="icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3>فراخوان ها</h3>
                    </div>
                    <div class="page3box__text">
                        <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                    </div>
                    <div class="page3box__footer">
                        <a href="#" class="button">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <!-- page_3box__item -->
        </div>
    </section>
    <!-- page_3box -->

    <section class="page_courses clearfix">
        <div class="container">
            <nav class="page_courses__sidebar col-md-3 col-sm-12 col-xs-12 pull-right">
                <div class="box--default">
                    <h3 class="box_title">خدمات آموزشی</h3>
                    <div class="box--content">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                               <div class="panel-heading active" role="tab" id="heading1">
                                    <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#faq1" aria-expanded="true" aria-controls="faq1">
                                 دوره های آموزشی
                              </a>
                           </h4>
                               </div>
                               <div id="faq1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">دوره های تخصصی</a></li>
                                            <li><a href="#">دوره های عمومی</a>
                                               <ul>
                                                  <li><a href="#">دوره فنی</a></li>
                                                  <li><a href="#">دوره فنی</a></li>
                                                  <li><a href="#">دوره فنی</a></li>
                                                  <li><a href="#">دوره فنی</a></li>
                                                  <li><a href="#">دوره فنی</a></li>
                                               </ul>
                                            </li>
                                            <li><a href="#">دوره های مدیریتی</a></li>
                                            <li><a href="#">دوره های آزاد</a></li>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                            <div class="panel">
                               <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#faq2" aria-expanded="true" aria-controls="faq2">
                              آموزش الکترونیک
                              </a>
                           </h4>
                               </div>
                               <div id="faq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">دوره های تخصصی</a></li>
                                            <li><a href="#">دوره های عمومی</a></li>
                                            <li><a href="#">دوره های مدیریتی</a></li>
                                            <li><a href="#">دوره های آزاد</a></li>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                            <div class="panel accordion-list">
                               <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#faq3" aria-expanded="true" aria-controls="faq3">
                              کمیته آموزش
                              </a>
                           </h4>
                               </div>
                               <div id="faq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">دوره های تخصصی</a></li>
                                            <li><a href="#">دوره های عمومی</a></li>
                                            <li><a href="#">دوره های مدیریتی</a></li>
                                            <li><a href="#">دوره های آزاد</a></li>
                                            <li><a href="#">دوره های تخصصی</a></li>
                                            <li><a href="#">دوره های عمومی</a></li>
                                            <li><a href="#">دوره های مدیریتی</a></li>
                                            <li><a href="#">دوره های آزاد</a></li>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                            <div class="panel">
                               <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#faq4" aria-expanded="true" aria-controls="faq4">
                              جزوات و منابع آموزشی
                              </a>
                           </h4>
                               </div>
                               <div id="faq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4Three">
                                    <div class="panel-body">
                                        <ul>
                                            <ul>
                                                <li><a href="#">دوره های تخصصی</a></li>
                                                <li><a href="#">دوره های عمومی</a></li>
                                                <li><a href="#">دوره های مدیریتی</a></li>
                                                <li><a href="#">دوره های آزاد</a></li>
                                                <li><a href="#">دوره های تخصصی</a></li>
                                                <li><a href="#">دوره های عمومی</a></li>
                                                <li><a href="#">دوره های مدیریتی</a></li>
                                                <li><a href="#">دوره های آزاد</a></li>
                                            </ul>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                            <div class="panel">
                               <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#faq5" aria-expanded="true" aria-controls="faq5">
                              همایش و سمینار
                              </a>
                           </h4>
                               </div>
                               <div id="faq5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4Three">
                                    <div class="panel-body">
                                        <ul>
                                            <ul>
                                                <li><a href="#">دوره های تخصصی</a></li>
                                                <li><a href="#">دوره های عمومی</a></li>
                                                <li><a href="#">دوره های مدیریتی</a></li>
                                                <li><a href="#">دوره های آزاد</a></li>
                                                <li><a href="#">دوره های تخصصی</a></li>
                                                <li><a href="#">دوره های عمومی</a></li>
                                                <li><a href="#">دوره های مدیریتی</a></li>
                                                <li><a href="#">دوره های آزاد</a></li>
                                            </ul>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <!-- box--default -->
            </nav>
            <!-- page_courses__sidebar -->
            <article class="page_courses__slider col-md-9 col-sm-12 col-xs-12 pull-left">
                <div class="page_courses__content">
                    <h3>تازه ترین دوره ها</h3>

                    <div id="courses" class="owl-carousel">
                        <div class="item">

                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g1.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>سلسله مباحث شناخت زلزله</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>۲۰ ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="2.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>۸ ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="1.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>اقتصاد مقاومتی</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>۸ ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="3.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>آموزش تخصصی شبکه</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>19 ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="4"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g5.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>مدیریت و بهبود روش</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>13 ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="1.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g6.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>اصول حسابداری تعهدی</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>13 ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="2"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                        </div>
                        <div class="item">

                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g1.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>سلسله مباحث شناخت زلزله</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>۲۰ ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="2.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>۸ ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="1.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g3.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>اقتصاد مقاومتی</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>۸ ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="3.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>آموزش تخصصی شبکه</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>19 ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="4"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g5.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>مدیریت و بهبود روش</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>13 ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="1.5"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                            <div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
                               <aside class="page_courses__item___content">
                                    <div class="content">
                                       <div class="photo">
                                           <a href="#"><img src="{% static 'assets/images/gallery/g6.jpg'%}" alt=""></a>
                                       </div>
                                       <div class="text">
                                          <a href="#">
                                              <h5>اصول حسابداری تعهدی</h5>
                                              <div class="info">
                                                  <span>مدت آموزش</span>
                                                  <span>13 ساعت</span>
                                              </div>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="footer">
                                       <div class="stars" data-score="2"></div>
                                       <div>11 <i class="fa fa-user"></i></div>
                                    </div>
                               </aside>
                            </div>
                            <!-- page_courses__item -->
                        </div>
                    </div>
                </div>
                <!-- page_courses__content -->
            </article>
            <!-- page_courses__slider -->
            </div>
    </section>
    <!-- page_courses -->

    <section class="page_gallery">
       <div class="container">
          <div class="page__gallery_image col-md-7 col-sm-12 col-xs-12 pull-right">
             <div class="page_gallert__title">
                <h4>گالری تصاویر</h4>
                <p>کارگاه آموزشی SPSS به روایت تصویر</p>
             </div>
             <div id="imageGallery" class="owl-carousel">
                 <div class="item">
                    <div class="gallery_content">
                       <div class="gallery_item">
                         <a class="colorbox" href="{% static 'assets/images/gallery/g7.jpg'%}">
                            <img src="{% static 'assets/images/gallery/g7.jpg'%}" alt="">
                         </a>
                      </div>
                    </div>
                 </div>
                 <div class="item">
                    <div class="gallery_content">
                       <div class="gallery_item">
                          <a class="colorbox" href="{% static 'assets/images/gallery/g8.jpg'%}">
                            <img src="{% static 'assets/images/gallery/g8.jpg'%}" alt="">
                         </a>
                      </div>
                    </div>
                 </div>
                 <div class="item">
                    <div class="gallery_content">
                       <div class="gallery_item">
                          <a class="colorbox" href="{% static 'assets/images/gallery/g9.jpg'%}">
                            <img src="{% static 'assets/images/gallery/g9.jpg'%}" alt="">
                         </a>
                      </div>
                    </div>
                 </div>
                 <div class="item">
                    <div class="gallery_content">
                       <div class="gallery_item">
                          <a class="colorbox" href="{% static 'assets/images/gallery/g8.jpg'%}">
                            <img src="{% static 'assets/images/gallery/g8.jpg'%}" alt="">
                         </a>
                      </div>
                    </div>
                 </div>
                 <div class="item">
                    <div class="gallery_content">
                       <div class="gallery_item">
                          <a class="colorbox" href="{% static 'assets/images/gallery/g9.jpg'%}">
                            <img src="{% static 'assets/images/gallery/g9.jpg'%}" alt="">
                         </a>
                      </div>
                    </div>
                 </div>

             </div>
          </div>
          <div class="page_video col-md-5 col-sm-12 pull-left">
             <div class="page_video__content">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/6YwQo/vt/frame" height="250" width="640" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" ></iframe>
                <div class="infobox">
                   <h5>فیلم آموزشی SPSS استاد هدایتی</h5>
                   <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                </div>
             </div>
          </div>
          <!-- page_video -->
       </div>
    </section>
    <!-- page_gallery -->

    <section class="page_news">
        <div class="container">
            <article class="page_news__box col-md-6 pull-right">
                <div class="box_news_title">
                    <div class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
                </div>
                <aside class="box_news_content">

                    <div class="news_item col-md-12 pull-right">
                        <a href={{"../single"}}>
                            <div class="news__photo col-md-3 col-sm-3 col-xs-12  pull-right">
                                <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg'%}" alt="">
                            </div>
                            <div class="news__text col-md-9 col-sm-9 pull-left">
                                <h3 class="text_title">لورم ایپسوم متنی است که ساختگی برای</h3>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                                <div class="text_meta">
                                    <span class="date"> 1395/03/29 <i class="fa fa-calendar"></i></span>
                                     <span class="view"> 1245 <i class="fa fa-globe"></i></span>
                                    <span class="comment"> 116 <i class="fa fa-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- news_item -->
                    <div class="news_item col-md-12 pull-right">
                        <a href={{"../single"}}>
                            <div class="news__photo col-md-3 col-sm-3 col-xs-12 pull-right">
                                <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg'%}" alt="">
                            </div>
                            <div class="news__text col-md-9 col-sm-9 col-xs-12 pull-left">
                                <h3 class="text_title">لورم ایپسوم متنی است که ساختگی برای</h3>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                                <div class="text_meta">
                                    <span class="date"> 1395/03/29 <i class="fa fa-calendar"></i></span>
                                     <span class="view"> 1245 <i class="fa fa-globe"></i></span>
                                    <span class="comment"> 116 <i class="fa fa-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- news_item -->
                    <div class="news_item col-md-12 pull-right">
                        <a href= {{"../single "}} >
                            <div class="news__photo col-md-3 col-sm-3 col-xs-12 pull-right">
                                <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg'%}" alt="">
                            </div>
                            <div class="news__text col-md-9 col-sm-9 col-xs-12 pull-left">
                                <h3 class="text_title">لورم ایپسوم متنی است که ساختگی برای</h3>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                                <div class="text_meta">
                                    <span class="date"> 1395/03/29 <i class="fa fa-calendar"></i></span>
                                     <span class="view"> 1245 <i class="fa fa-globe"></i></span>
                                    <span class="comment"> 116 <i class="fa fa-comment"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- news_item -->

                </aside>
            </article>

            <article class="page_news__cols col-md-6 col-sm-12 col-xs-12 pull-left">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <div class="box--default">
                            <h3 class="box_title">اطلاعیه های آموزشی</h3>
                            <div class="box_content">
                                <ul class="list list-style">
                                    <li><a href="#">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</a></li>
                                    <li><a href="#">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</a></li>
                                    <li><a href="#">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- box--default -->
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="box--default">
                            <h3 class="box_title">تبلیغات</h3>
                            <div class="box_content">
                                <ul class="list ads">
                                    <li>
                                        <a href="#">
                                            <img src="{% static 'assets/images/ads.png'%}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{% static 'assets/images/ads2.png'%}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- box--default -->
                    </div>
                </div>

            </article>
        </div>
    </section>

    <section class="page_counter">
        <div class="container">
            <div class="box-counter">
                <div class="counter purple">13760</div>
                <div>نفر ساعت آموزش دیده</div>
            </div>
            <div class="box-counter">
                <div class="counter blue">1720</div>
                <div>نفر آموزش دیده </div>
            </div>
            <div class="box-counter">
                <div class="counter orange">123</div>
                <div>همایش برگزار شده</div>
            </div>
            <div class="box-counter">
                <div class="counter green">78</div>
                <div> دوره های برگزار شده</div>
            </div>
        </div>
    </section>
{% endblock %}

    


