{% extends "layout.html" %}
{% load static %}
{% block difbody  %}

        <div class="header_cover">
            <img src="{% static 'assets/images/slider/site_bg.jpg'%}" alt="">
            <div class="container-fluid">
                <div class="header_cover__box col-md-2 col-sm-3 col-xs-12">
                    <div class="box--default margin-bottom ">
                        <h3 class="box_title text-right">اطلاعات دوره</h3>
                        <div class="box_content">
                            <ul class="list2">
                                <li>
                                    کد دوره : <span class="val">PR3425</span>
                                </li>
                                <li>
                                    نام استاد : <span class="val">حمید مظفری</span>
                                </li>
                                <li>
                                    مدت آموزش : <span class="val">۴۵ ساعت</span>
                                </li>
                                <li>
                                    محل برگزاری : <span class="val">باشگاه میلاد شهرداری کرج</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header_cover__box col-md-6 col-sm-6 col-xs-12">
                    <div class="box--default margin-bottom ">
                        <h3 class="box_title text-right">توضیحات دوره</h3>
                        <div class="box_content ">
                            <div class="text">
                                <h3 class="header_cover--title">سلسله مباحث شناخت زلزله</h3>
                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی
                                    و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی
                                    است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد
                                    است.
                                </p>
                                <a href="#" class="btn btn-default btn-lg pull-left">ثبت نام کنید</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_cover__box col-md-2 col-sm-3 col-xs-12">
                    <div class="box--default margin-bottom ">
                        <h3 class="box_title text-right">عنوان دوره </h3>
                        <div class="box_content">
                            <div class="text">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg' %}" alt="">
                                </div>
                                <h3>سلسله مباحث شناخت زلزله</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header_cover -->
    </header>


    <section class="page_content">
        <div class="container">

            <div class="page_content__meetings clearfix">

               <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
                  <div class="meetings-box">
                     <ul>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                        <li>
                           <span class="name">درس اول چگونه با محیط کنار بیاییم</span>
                           <span class="controler">
                              <a href="#"><i class="fa fa-play"></i></a>
                              <a href="#"><i class="fa fa-music"></i></a>
                              <a href="#"><i class="fa fa-list"></i></a>
                           </span>
                        </li>
                     </ul>
                  </div>
               </div>

                <div class="col-md-6 col-sm-12 col-xs-12 pull-left">
                    <div class="meetings-list">
                       <h3>سوالات</h3>
                        <ul>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                           <li><a href="#">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              این یک نظر است برای یک کاربر
                           </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- page_content__meetings -->

            <div id="courses-row" class="owl-carousel">

                <div class="item">
                    <div class="page_courses__item">
                        <aside class="page_courses__item___content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img src="{% static 'assets/images/gallery/g1.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>سلسله مباحث شناخت زلزله</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۲۰ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="2.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- item -->
                <div class="item">
                    <div class="page_courses__item">
                        <aside class="page_courses__item___content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img src="{% static 'assets/images/gallery/g2.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="1.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- item -->
                <div class="item">
                    <div class="page_courses__item">
                        <aside class="page_courses__item___content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img src="{% static 'assets/images/gallery/g3.jpg' %}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>اقتصاد مقاومتی</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="3.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- item -->
                <div class="item">
                    <div class="page_courses__item">
                        <aside class="page_courses__item___content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img src="{% static 'assets/images/gallery/g4.jpg'%}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>آموزش تخصصی شبکه</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>19 ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="4"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- item -->
                <div class="item">
                    <div class="page_courses__item">
                        <aside class="page_courses__item___content">
                            <div class="content">
                                <div class="photo">
                                    <a href="#"><img src="{% static 'assets/images/gallery/g2.jpg' %}" alt=""></a>
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h5>عفاف و حجاب(ویژه بانوان)</h5>
                                        <div class="info">
                                            <span>مدت آموزش</span>
                                            <span>۸ ساعت</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="stars" data-score="1.5"></div>
                                <div>11 <i class="fa fa-user"></i></div>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- item -->

            </div>
        </div>
    </section>
    {% endblock %}

